server:
  port: 8081
spring:
  config:
    import: 'aws-parameterstore:/config/kickon_dev/'
    activate:
      on-profile: dev
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: validate
      naming:
        physical-strategy: kr.kickon.api.global.config.CustomNamingStrategy
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    #    show-sql: true
    properties:
      hibernate:
        globally_quoted_identifiers: true
        format_sql: true

  # spring security (oauth)
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT}
            client-secret: ${KAKAO_SECRET}
            redirect-uri: ${KAKAO_REDIRECT_URI}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - profile_image
              - account_email
            client-name: kakao
          naver:
            client-id: ${NAVER_CLIENT}
            client-secret: ${NAVER_SECRET}
            scope:
              - name
              - email
              - profile_image
            client-name: Naver
            authorization-grant-type: authorization_code
            redirect-uri: ${NAVER_REDIRECT_URI}

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
#logging:
#  level:
#    org:
#      springframework:
#        DEBUG
#    kr:
#      kickon:
#        DEBUG

jwt:
  secret_key: ${JWT_SECRET_KEY}
  access-token-validity-in-seconds: 3600
  refresh-token-validity-in-seconds: 31104000

api:
  key: ${API_SPORTS_KEY}
  slack-key: ${API_SLACK_KEY}

aws:
  paramstore:
    enabled: true
    prefix: /config
    profile-sparator: _
    name: kickon

